body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.container p {
    margin-bottom: 10px;
}

select, button {
    margin-bottom: 20px;
    padding: 8px;
    font-size: 16px;
}

.image-container {
    max-width: 100%;
    max-height: 400px; 
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    text-align: center;
    display: block; 
    margin: 0 auto;
}

button#cargarRazas {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

button {
    background-color: #008CBA;
}

#imagenContainer {
    max-width: 300px; 
    margin: 0 auto; 
}
#container {
    margin-bottom: 60px; 
    position: relative;
}
