/* estilos.css */

body {
    font-family: 'Geogebra', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

center {
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-size: 18px;
}

.nombre, .grupo {
    background-color: #eee;
    padding: 15px;
    margin: 15px 0;
    font-size: 20px;
}

img {
    max-width: 50%;
    height: auto;
    margin-bottom: 15px;
}



footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
