/* styles.css */

/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
}

/* Estilos del encabezado */
.main-header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.input-field {
    width: 200px;
    padding: 5px;
}

.btn-search, .btn-load, .btn-clear {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.main-section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

.results-table th, .results-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.results-table th {
    background-color: #333;
    color: white;
}

.search-message {
    color: red;
    margin-top: 10px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}