body {
    background-color: #FFA500; /* Naranja */
    font-family: Arial, sans-serif;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.titulo {
    color: white;
}

.labelBusqueda {
    margin-right: 10px;
}

.inputBusqueda {
    padding: 5px;
    margin-right: 10px;
}

.btnBuscar, .btnCargar, .btnLimpiar {
    padding: 5px;
    background-color: #4CAF50; /* Verde */
    color: white;
    cursor: pointer;
}

.tabla {
    margin-top: 20px;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

.mensajeBusqueda {
    margin-top: 20px;
    padding: 10px;
    background-color: #FFD700; /* Amarillo oro */
    color: #333;
    font-weight: bold;
}
