body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    overflow-y: scroll;
}

center {
    text-align: center;
}

header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

div {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px; 
}

label {
    display: block;
    margin-top: 10px;
}

.inputField {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    height: 30px;
    padding: 5px;
    border: 1px solid #3498db;
    border-radius: 4px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px; 
}

button {
    width: 95%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transform: translate(3px);
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
    position: relative; 
    width: 100%;
    color: #333;
}
