body {
    background-color: #87CEEB; /* Azul celeste */
    font-family: Arial, sans-serif;
}

center {
    margin-top: 50px;
}

h1 {
    color: #333; /* Color de texto */
    text-shadow: 2px 2px 2px #000; /* Sombreado */
}

#tabla {
    width: 80%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff; /* Fondo blanco para la tabla */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

th, td {
    padding: 10px;
    border: 1px solid #ddd; /* Borde gris */
    text-align: left;
}

th {
    background-color: #4CAF50; /* Verde oscuro para el encabezado */
    color: white;
}

#btnCargar, #btnLimpiar {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    background-color: #4CAF50; /* Verde oscuro para los botones */
    color: white;
    border: none;
    cursor: pointer;
}

#btnCargar:hover, #btnLimpiar:hover {
    background-color: #45a049; /* Cambia de color al pasar el ratón */
}
